.list{
  padding: 0;
}
.list li{
  display: table;
  border-collapse: collapse;
  width: 100%;
  max-width: 280px;
}
.li-img{
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  padding-right: 1em;
}
.li-img img{
  display: block;
  width: 100%;
  height: auto;
}
.li-text{
  display: table-cell;
  vertical-align: middle;
  width: 70%;
}
.li-head{
  margin: 0;
}
.li-sub{
  margin: 0;
}
.results-list{
  margin: 42px 0 0 0;
  max-height: 100%;
}
.li-artist{
  cursor: pointer;
}
.li-affialtes{

}
