@import 'https://fonts.googleapis.com/css?family=Nova+Slim|Trirong:300i,400,400i,600,600i';
@import "_search.scss";
@import "_lists.scss";
@import "_map.scss";
@import "_headers.scss";

html, body{
  height: 100%;
  padding: 0; margin: 0;
  // font-family: 'Trirong', serif;
  font-family: 'Nova Slim', cursive;
  font-weight: 400;
  font-style: italic;
  overflow: hidden;
}
ul{
  list-style: none;
}

.main-view-container{
  position: relative;
  height: 100%;
}
