.container{
position: relative;
float: right;
width: 280px;
min-height: 41px;
color: white;
margin: 0 0 0 20px;
padding: -2px;
background: rgba(0,0,0, .8);
display: inline-block;
}
.search__pane{
  max-height: 100%;
  overflow: auto;
  display: inline-block;
}
.search-form-holder{
  position: fixed;
  display: inline-block;
}

form{
  background: black;
  box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 1);
}
form:hover .search-box{
  background: rgba(0, 170, 230, .4);
}
form:hover .submit-btn{
  background: #ef7b7b;
}
input[type="search"]{
  margin: 0;
  border: none;
  color: white;
  font-size: 2rem;
  width: 82%;
  background: black;
  font-family: 'Nova Slim', cursive;
  font-weight: 400;
  font-style: italic;
}
input:focus{
  outline: none;
}
input[type="submit"]{
  padding: 0;
  cursor: pointer;
  border: none;
  height: 2.5rem;
  float: right;
  margin: 0;
  width: 3.1rem;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track-piece {
    // -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.8);
    background: rgba(255,255,255,0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {

    background: #ef7b7b;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
