<div class="map-container" data-ng-controller="MapCtrl">
  <ui-gmap-google-map center='map.center' zoom='map.zoom' options='options'>
  </ui-gmap-google-map>
</div>

<div class="container search search__pane">
  <div class="search-form-holder">
    <form class="search__form" data-ng-submit="search()">
      <input type="search" data-ng-model="keywords" autofocus class="search-box" placeholder="search">
      <input type="submit" class="submit-btn btn" value="GO">
    </form>
  </div>
  <div class="results-container">
    <div class="result" data-ng-repeat="artist in artists" data-ng-click="showCollabs(this, $index)">
      <div class="artist-display">
        <div class="result-info">
          <h4 class="result-header">{{artist.info.name}}</h4>
          <h5 class="result-header">{{artist.info.city}}</h5>
          <h5 class="result-header">{{artist.info.country}}</h5>
        </div>
        <div class="display-pic">
          <img class="artist-pic" src="http://bradfrost.github.com/this-is-responsive/patterns/images/fpo_square.png" alt="" />
        </div>
      </div>
      <div class="drop-down result-affiliates" data-ng-show="showing">
        <h5>Collaborators: </h5>
        <h6 class="collab-item" data-ng-repeat="collab in artist.collabs">{{collab.name}}</h6>
      </div>
    </div>
  </div>

</div>
